########################################################################
# File managed by Ansible
# Your changes will be overwritten.
########################################################################

{{ item.config|to_nice_yaml(width=1337, explicit_start=True, explicit_end=True)  }}
